@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #334257;
  font-family: "Lato";
  font-size: 20px;
  color: #eeeeee;
}

header {
  margin-bottom: 20px;
  font-family: "Roboto Mono";
  font-size: 1.6em;
}

nav {
  position: fixed;
  padding: 50px 0px;
  left: 50%;
  transform: translateX(-625px);
  width: 325px;
  height: 100vh;
  overflow: hidden;
}

main {
  position: absolute;
  padding: 50px 20px;
  left: 50%;
  transform: translateX(-300px);
  width: 950px;
}

nav ul {
  box-sizing: content-box;
  padding-right: 20px;
  width: 100%;
  height: 90%;
  overflow-y: auto;
}

nav ul li {
  text-align: left;
  display: block;
  min-height: 40px;
  padding: 7.5px;
}

nav ul li:hover {
  cursor: pointer;
  background-color: #eeeeee;
  color: #334257;
}

nav ul li a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

section:not(:last-of-type) {
  margin-bottom: 75px;
}

p,
section li {
  margin: 20px 0px;
}

section li {
  margin-left: 30px;
}

code {
  display: block;
  margin-left: 30px;
  padding: 20px;
  width: 75%;
  border-radius: 5px;
  background-color: #476072;
  color: #eeeeee;
  font-family: inherit;
  font-size: inherit;
}

@media (max-width: 1300px) {
  nav {
    transform: translateX(-600px);
    width: 300px;
  }

  main {
    transform: translateX(-300px);
    width: 900px;
  }
}

@media (max-width: 1200px) {
  nav {
    transform: translateX(-525px);
    width: 250px;
  }

  main {
    transform: translateX(-275px);
    width: 800px;
  }
}

@media (max-width: 1100px) {
  nav {
    transform: translateX(-475px);
  }

  main {
    transform: translateX(-225px);
    width: 700px;
  }
}

@media (max-width: 975px) {
  nav {
    transform: translateX(-425px);
  }

  main {
    transform: translateX(-175px);
    width: 600px;
  }
}

@media (max-width: 875px) {
  body {
    min-width: 615px;
    font-size: 18px;
  }

  nav {
    position: static;
    transform: none;
    margin: 0 5%;
    width: 90%;
    height: auto;
    text-align: center;
  }

  nav ul li {
    display: inline-block;
    width: 47%;
    min-height: 40px;
    padding: 7.5px;
    margin: 5px;
    text-align: center;
    border: 1px solid #476072;
    border-radius: 5px;
  }

  main {
    position: static;
    transform: none;
    padding: 50px 20px;
    margin: 0 5%;
    width: 90%;
  }
}
